body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 310px;
  width: 310px;
  border-radius: 50%;
  border: 2px solid blue;
  box-shadow: 0 0 20px blue;
  position: relative;

}

.picparent img {
  display: block;
  object-fit: cover;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  border: 2px solid none;
}

/*circles*/
.bigger-circle{
  position: absolute;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   background:  linear-gradient(180deg, rgb(29, 252, 222),rgb(67, 189, 245));
   bottom: -60px;
   left: -30px;
   animation: bigger-circle 8s ease-in-out infinite;
}

.midium-circle{
   position: absolute;
   height: 45px;
   width: 45px;
   border-radius: 50%;
   background: linear-gradient(270deg, rgb(183, 139, 235),rgb(117, 68, 197));
   bottom: 60px;
   right: -50px;
   animation: midium-circle 5s linear infinite;
}

/*square*/
.bigger-square{
  position: absolute;
  height: 60px ;
  width: 60px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(248, 142, 2),rgb(245, 92, 4));
  top: -50px;
  right: -30px;
  animation: bigger-square 5s ease-in-out infinite, 2s alternate infinite;
  border: 2px solid rgba(255, 255, 255, 0.2);
}


.midium-square{
  position: absolute;
  height: 40px ;
  width: 40px;
  border-radius: 10px;
  background: linear-gradient(to top left, rgb(219, 19, 113),rgb(223, 142, 166));
  top: 60px;
  left: -60px;
  animation: midium-square 8s ease-in-out infinite;
}


@keyframes bigger-circle {
  0%,100%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(-10px);
  }
}

@keyframes midium-circle {
  0%,100%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(0);
  }
}



@keyframes bigger-square {
  0%,100%{
    transform: translateY(-10px)rotate(3deg);
     
  }
  50%{
    transform: translateY(10px)rotate(-3deg);
  }
}

@keyframes midium-square {
  0%,100%{
     transform: translateY(0)rotate(-5deg);
  }
  50%{
      transform: translateY(-15px)rotate(5deg);
  }
}

.up-left {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: purple;
  top: -40px;
  left: -30px;
  animation: up-left 6s ease-in infinite
}


@keyframes up-left {

0%,100%{
  transform: scale(0.7);
  background-color: rgb(6, 187, 241);
}

50%{
  transform: scale(0.5);
   background-color: rgb(160, 233, 252);
}

}

.down-left {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(255, 70, 255);
   bottom: -35px;
  left: 10px;
  mix-blend-mode: overlay;
  animation: down-left 6s ease-in infinite
}

@keyframes down-left{
 0%,100%{
  transform: scale(0.7);
}

50%{
  transform: scale(0.5);
}
    
}

.up-right {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: purple;
  top: 25px;
  right: -5px;
  animation: up-right 5s ease-in-out infinite;
}

@keyframes up-right {
  0%,100%{
    transform: scale(0.9);
      background-color: rgba(209, 57, 255, 0.966);
  }
  50%{
    transform: scale(0.7);
      background-color: rgb(225, 165, 243) ;
  }
}

.down-right {
  position: absolute;
  height: 15px;
  width: 15px;
  background: rgb(64, 247, 207);
  border-radius: 50%;
  right: -20px;
  bottom: -15px;
  animation: down-right 5s ease-in-out infinite;

}


@keyframes down-right {
  0%,100%{
    transform: scale(0.7);
  }
  
  50%{
    transform: scale(0.5);
    
  }
}
